<p id="notice"><%= notice %></p>

<h1><%= @film.title %></h1>
<%= image_tag attachment_url(@film, :image, :limit, 400, 500) %>
<%= simple_format @film.description %>

<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
